<div class="row">
    <div class="col-md-4">
        <div class="card" *ngFor="let profile of profile.userProfile" style="width: 18rem;">
            <div class="card-header">
                <h5 class="card-title">{{profile.userName}}</h5>
            </div>
            <div class="card-body">
                <img src={{profile.imageUrl}} class="card-img-top" alt="...">
                <h5>Ranking of coders: {{profile.preference.ranking}}</h5>
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">About me.</div>
                    <div class="card-body">
                        <h5 class="card-title">Information</h5>
                        <p class="card-text">Hi, i'm {{profile.userName}}. I'm a coder specialist in
                            <strong><em>{{profile.preference.codePreferences}}</em></strong>
                        </p>
                    </div>
                    <div class="card-footer">Followers: <strong>{{profile.users.length}}</strong></div>
                </div>
                <button id="post_button" class="btn btn-info"> Make a post</button>
                <a id="find_button" (click)="goToFindUserPage()" class="btn btn-primary"> Find users</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <ng-container *ngIf="checkPreferences(); else IsPreference">
            <h1 id="preferences_title" class="display-5"> Fill the fields to complete the register</h1>
            <form (submit)="registerPreferences()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label htmlFor="inputApartment">Currently status</label>
                        <select [(ngModel)]="preferencesForm.currentlyStatus" class="form-control" id="currentlyStatus" name="currentlyStatus">
                            <option selected>Employee</option>
                            <option>Professional</option>
                            <option>Student</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label htmlFor="inputBirth">Ranking establecido</label>
                        <input readonly required type="number" [(ngModel)]="preferencesForm.ranking" value="5" class="form-control" id="ranking" name="ranking" />
                    </div>
                    <div class="form-group col-md-6">
                        <label htmlFor="inputApellido">Apellidos</label>
                        <textarea required [(ngModel)]="preferencesForm.codePreferences" class="form-control" maxlength="200" id="codePreferences" name="codePreferences"></textarea>
                    </div>

                    <div class="form-group col-md-6">
                        <label htmlFor="inputTelefono">Telefono</label>
                        <textarea required [(ngModel)]="preferencesForm.experience" maxlength="2000" class="form-control" id="experience" name="experience"></textarea>
                    </div>
                </div>
                <!-- <div class="form-row">
                    <div class="form-group col-md-6">
                        <label htmlFor="inputApartment">Gender</label>
                        <select [(ngModel)]="user.gender" class="form-control" name="gender">
                            <option selected>Male</option>
                            <option>Female</option>
                            <option>Non binary</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label htmlFor="inputEmail4">Email</label>
                        <input required type="text" [(ngModel)]="user.email" class="form-control" id="inputEmail4" name="email" name="email" />
                    </div>
                    <div class="form-group col-md-6">
                        <label htmlFor="inputPass">Password</label>
                        <input required type="password" [(ngModel)]="user.password" class="form-control" id="inputPass" name="password" />
                    </div>
                    <div class="form-group col-md-6">
                        <label htmlFor="inputRepeatPass">Repeat password</label>
                        <input required type="password" class="form-control" id="inputRepeatPass" name="repeatPassword" />
                    </div>
                </div> -->
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </form>
        </ng-container>
        <ng-template #IsPreference>
            <div class="jumbotron" *ngFor="let profile of profile.userProfile">
                <h1 class="display-4">Experience!</h1>
                <p class="lead">{{profile.preference.experience}}</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" role="button">Update preferences</a>
                </p>
                <div class="card-footer">Status: <strong>{{profile.preference.currentlyStatus}}</strong></div>
            </div>
        </ng-template>
    </div>


</div>