<div class="row">
    <div class="col-md-4">
        <div class="card" *ngFor="let profile of profile.userProfile" style="width: 18rem;">
            <div class="card-header">
                <h5 class="card-title">{{profile.userName}}</h5>
            </div>
            <div class="card-body">
                <img src={{profile.imageUrl}} class="card-img-top" alt="...">
                <h5>Ranking of coders: {{profile.preference.ranking}}</h5>
                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">About me.</div>
                    <div class="card-body">
                        <h5 class="card-title">Information</h5>
                        <p class="card-text">Hi, i'm {{profile.userName}}. I'm a coder specialist in
                            <strong><em>{{profile.preference.codePreferences}}</em></strong>
                        </p>
                    </div>
                    <div class="card-footer">Followers: <strong>{{profile.users.length}}</strong></div>
                </div>
                <button id="post_button" class="btn btn-info"> Make a post</button>
                <button id="find_button" class="btn btn-primary"> Find users</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="jumbotron" *ngFor="let profile of profile.userProfile">
            <h1 class="display-4">Experience!</h1>
            <p class="lead">{{profile.preference.experience}}</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" role="button">Update preferences</a>
            </p>
            <div class="card-footer">Status: <strong>{{profile.preference.currentlyStatus}}</strong></div>
        </div>
    </div>
</div>