#post_button {
    margin-right: 10px;
}

#find_button {
    margin-left: 10px;
    border-radius: 1px solid;
}

#form_modal_container {
    padding-left: 40px;
}

#form_modal_container h5 {
    padding-bottom: 25px;
}

#preferences_title {
    padding-bottom: 50px;
}